.col-xl-4.col-lg-4.col-md-3.col-sm-2
.col-xl-4.col-lg-4.col-md-6.col-sm-8.col-xs-12.mx-auto
  .card
    .card-header
      %h4.text-center= Update Profile
    .card-body
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.alert_message t('errors.template.header', model: resource.model_name.human, count: resource.errors.count)
        = f.email_field :email, required: true
        = f.text_field :name, required: true
        = f.password_field :current_password, autocomplete: "current-password"
        = f.password_field :password, autocomplete: "new-password"
        = f.password_field :password_confirmation, autocomplete: "new-password"

        %br
        = f.form_group do
          = f.submit "Update", class: "btn btn-success"

        .footer= render "devise/shared/links"
