%table.table.table-hover
  %thead
    %tr
      %th.hidden-sm-down= smart_listing.sortable "Id", :id
      %th= smart_listing.sortable Booking.human_attribute_name(:user_name), :user_name
      %th= smart_listing.sortable Booking.human_attribute_name(:seat_name), :seat_name
      %th= smart_listing.sortable Booking.human_attribute_name(:start_at), :start_at
      %th= smart_listing.sortable Booking.human_attribute_name(:end), :end
      %th= t("operations")

  %tbody
    - unless smart_listing.empty?
      - cache [smart_listing.collection.cache_key, I18n.locale], expires_in: 1.week do
        - smart_listing.collection.each do |booking|
          %tr.editable{data: {id: booking.id}}
            = smart_listing.render booking: booking, partial: "booking", locals: {:@booking => booking}
    - else
      .alert.alert-warning= t("messages.no_records")

    = smart_listing.item_new colspan: 13, link: new_booking_path, text: t('helpers.submit.create', model: Booking.model_name.human)

- cache ["pagination", I18n.locale, smart_listing.collection, Booking.all.size], expires_in: 1.week do
  .row.justify-content-center= smart_listing.paginate
  = smart_listing.pagination_per_page_links
