%td.hidden-sm-down= @user.id
%td.hidden-md-down= @user.email
%td.hidden-md-down= @user.name
%td.hidden-md-down= @user.seat.try(:name)
%td.hidden-md-down= @user.booking.try(:start_at)
%td.hidden-md-down= @user.booking.try(:end_at)
%td.actions= smart_listing_item_actions [ {name: :show, url: user_path(@user)}, {name: :destroy, url: user_path(@user), if: current_user.is_admin?}]
