.col-xl-4.col-lg-4.col-md-3.col-sm-2
.col-xl-4.col-lg-4.col-md-6.col-sm-8.col-xs-12.mx-auto
  .card
    .card-header
      %h4.text-center Log in
    .card-body
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.alert_message t('errors.template.header', model: resource.model_name.human, count: resource.errors.count)
        = f.email_field :email, required: true
        = f.password_field :password, autocomplete: "current-password"
        = f.form_group do
          = f.check_box :remember_me

        %br
        = f.form_group do
          = f.submit "Log in", class: "btn btn-success"
        
        .footer= render "devise/shared/links"
