%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to root_path, class: "navbar-brand" do
    = fa_icon :home
    Home
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      = active_link_to seats_path, class: "nav-link", wrap_tag: :li, wrap_class: 'nav-item' do
        .row.mx-auto
          .hidden-md-only= Seat.model_name.human.pluralize
      = active_link_to bookings_path, class: "nav-link", wrap_tag: :li, wrap_class: 'nav-item' do
        .row.mx-auto
          .hidden-md-only= Booking.model_name.human.pluralize
    
    %ul.navbar-nav.ml-auto
      - cache ["language-selection", I18n.locale], expires_in: 1.week do
        %li.nav-item.mr-4.dropdown{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Lang"}
          %a#navbarDropdownMenuLink{"data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => false}
            = fa_icon "language", class: "pt-2"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            - Rails.application.config.i18n.available_locales.each do |lang|
              - code = lang.gsub(/.+\-/, '')
              - if I18n.exists?("countries.#{code.upcase}", :en)
                = link_to params.permit(:utf8, :keyword, :lang, :commit).merge(lang: lang), class: "dropdown-item" do
                  = flag_icon(code.downcase)
                  = I18n.t(code.upcase, scope: :countries)
      - if user_signed_in?
        %li.nav-item.mr-4{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Profile"}
          = link_to edit_user_registration_path, style: "color: inherit;" do
            = fa_icon "user", class: "pt-2"
        %li.nav-item.mr-4{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Logout"}
          = link_to destroy_user_session_path, method: :delete, style: "color: inherit;" do
            = fa_icon "sign-out", class: "pt-2"
      %li.nav-item= render "layouts/search_form"

:css
  .dropdown-menu{
      max-height: 20rem;
      overflow-y:auto;
   }
